* {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

#snakeField {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}

.item {
  background-color: lightblue;
  border: 2px solid blue;
  height: 50px;
  width: 10%;
  border-radius: 5px;
}

@keyframes disco {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fe019a,
      0 0 70px #fe019a, 0 0 80px #fe019a, 0 0 100px #fe019a, 0 0 150px #fe019a;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fe019a,
      0 0 35px #fe019a, 0 0 40px #fe019a, 0 0 50px #fe019a, 0 0 75px #fe019a;
  }
}
